body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.default-container{
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow: auto;
  color: #fff;
  background: #373635;
  padding: 10vh 10% 0 10%;
  flex-direction: column;
}
.default-container h1{
  font-size: 6em;
  font-weight: bold;
}

.default-container h2{
  font-size: 3em;
  font-weight: bold;
}

.default-container h3{
  font-size: 2em;
  font-weight: bold;
}

input{
  color: #333;
}

