.labelContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 3%;
  align-items: center;
  margin-top: 2%;

  label{
    font-size:1.2em;
  }

  input{
    width: 30%;
    margin-left: 5%;
    padding: 0 1%;
    border: 1px solid #CECCCC;
    border-radius: 8px;
    height: 40px;
    color: #333;

  }
}